* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background: radial-gradient(at center center, #2d7e9270 0%, #1c40617c 100%),
    url("/src/image/oscar-mucyo-040wCYDQtKs-unsplash.jpg");
  height: 100vh;
  background-size: center;
  background-position: center;
}
body {
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}

.logo {
  display: flex;
  color: rgba(255, 255, 255, 0.85);
  font-size: 42px;
}

.logo h4 {
  margin-left: 7px;
  letter-spacing: 1px;
  font-weight: lighter;
}

nav {
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
  position: absolute;
  width: 100%;
  align-items: center;
}

.navlinks {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 50%;
  padding-bottom: -8px;
  cursor: pointer;
  font-size: 24px;
  font-family: "Ubuntu", sans-serif;
}

.link {
  letter-spacing: 3px;
  font-weight: bold;
}

.hamburger-toggle {
  cursor: pointer;
  color: white;
}

.link:hover {
  color: rgb(142, 226, 103);
}

.link {
  color: rgba(255, 255, 255, 0.85);
}

@media screen and (max-width: 850px) {
  body {
    overflow: hidden;
  }

  .hamburger-toggle {
    display: block;
  }

  .navlinks {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    height: 92vh;
    align-items: center;
    width: 100%;
    top: 8vh;
    background-color: rgb(14, 17, 206);
    font-size: 32px;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
  }

  .active {
    transform: translate(0%);
  }
}
