*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-wrapper{
  background-color: #fff;
  min-width: 350px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: none;
}

.title{
  text-align: center;
  margin: 80px 0px 40px 0px;
  font-size: 48px;
  margin-bottom: 20px;
  /* width: 194px;
  height: 55px; */
}

.welcome{
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 9%;
}

.firstname, .lastname, .email, .password, .phonenumber{
  /* margin-top: 20%; */
  margin: 20px;
  color: #000000;
  font-size: 16px;
}

.password{
  margin-bottom: 40px;
}

.input{
  height: 62px;
  font-size: 20px;
  outline: none;
  width: 100%;
  border-top-style:none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style:2px solid #595353;
  margin-bottom: 10px;
}